h1,h2,h3,h4,h5,h6{
    text-align: center;
}
.par{
    text-align: center;
    font-size: 15px;
    color: brown;
}
.review{
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    justify-content: center;
    background-color:brown;
    color: white;
}
